# Maven
target/
*.class
*.jar
*.war
*.ear
.maven/

# Node
node_modules/
dist/
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
.DS_Store

# OS temp
Thumbs.db
ehthumbs.db

# Project logs
*.log
wal.log
